 .button {
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px 550px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
          body {
                    height: 200px;
                    background-color: rgba(232, 248, 0,0.7);
                    background-image: radial-gradient(rgb(71, 247, 1), yellow);
          }
          .head
          {
                    color: darkred;
                    text-align: center;
                    text-transform: capitalize;
                    text-decoration: underline;
                    text-shadow: black;
                    font-size: xxx-large;
          }
          .mmm
          {
                    color: black;
                    text-align: left ;
                    
                    font-size: x-large;
                    margin: 10px 80px;
                    
          }

       